body {
  background: green;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}

h1 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-item: center;
}